@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  --nav-width: 200px;
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background-image: url();

}

.nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  width: 75%;
  height: 100vh;
  background: g; /* Change background color to light green */
}

.nav__link {
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  color: #14d783;
  font-weight: 500;
  margin: 0 10px;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

a {
  color: #009579;
}

.typebox {
  height: 40px;
  width: 40px;
  border: 2px solid;
}

.button {
  background-color: white;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}
