

body {
  
  font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-image: url('assets/moneytra.jpg');
    background-color: rgba(255, 255, 255, 0.5); /* Set the background color with opacity (0.5 for 50% transparency) */
    background-repeat: no-repeat;
    background-size: cover; /* This will make the image cover the entire viewport */
    background-attachment: fixed; /* Keeps the background image fixed in place */
    background-position: center;
    
}



.nav {
  display: flex;
  justify-content:center;
  align-items: center;
}

.rounded-rectangle {
  display: flex;
  flex-direction:column; /* Stack elements vertically */
  justify-content: flex-start;
  align-items: flex-start; /* Center horizontally */
  /* position:fixed; */
  /* top: 45%; 
  left: 50%; 
  transform: translate(-105%, -50%);  */
  width: 400px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  margin: 0 5px;
}

.rounded-rectangle2 {
  display: flex;
  flex-direction:column; /* Stack elements vertically */
  justify-content: flex-start;
  align-items: flex-start; /* Center horizontally */
  /* position:fixed; */
  /* top: 45%; 
  left: 50%; 
  transform: translate(-0%, -50%);  */
  width: 400px;
  height: 700px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  margin: 0 5px;
}

.blue-button {
  
  margin-top: 10px;
  display: flex;
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px;
  cursor: pointer;
  outline: none; /* Remove the default focus outline */
}

/* Style for the button when hovered */
.blue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #060707;
  font-weight: 500;
  margin: 0 10px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  top: 10px;
  width: 150px; /* Set a fixed width */
  height: 30px;
  text-align: center;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

#app {
  margin: 2em;
  line-height: 1.5;
  font-weight: 500;
}

.a {
  color: #009579;
}

.input-box {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

/* Style for the input box when it's focused */
.input-box:focus {
  border-color: #007bff; /* Change the border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle shadow when focused */
}

.title {
  font-size: 24px;
  margin-bottom: 5px; /* Add spacing between title and input box */
}

.description {
  font-size: 14px; /* Smaller font size for description */
  color: #555; /* Adjust text color as needed */
}

.input-label{
  font-size: 14px;
  margin-right: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-right: 10px;
  
}

.pagebox{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-top: 20px

}

